<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="m_search">

</div>

<div class="m_result">
    <h2>共为你找到 0个</h2>，显示从 0 起， 一个10
    <ul>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
        <li>
            <h1>​30女儿情（双谱）</h1>
        </li>
        
    </ul>
</div>

</body>
</html>